.c-section-titleset {
    text-align: center;
    padding-top: 33px;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.15em;
    line-height: 1;
    color: #333;

    span {
        padding-top: 13px;
        padding-bottom: 30px;
        display: block;
        font-size: 1.4rem;
        letter-spacing: normal;
        color: #aa8f7b;
    }
}