.l-footer {
    padding: 25px 0 0;
    text-align: center;
	background-color: #292929;


    // h2 {
    //     font-size: 2.4rem;
    // }

    // .copyright {
    //     small {
    //         font-size: 1.2rem;
    //     }
    // }
}