$btnWidth: 20px;
$btnHeight: 2px;

.p-hamburger {
    width: 28px;
    height: 28px;
    background-color: #fff;
    position: relative;
    border: 0;

    @include breakpoint(wide) {
        display: none;
    }

    &::before,
    &::after {
        content: "";
        width: $btnWidth;
        height: $btnHeight;
        background: #1D1D1D;
        position: absolute;
        left : calc(50% - (#{$btnWidth} / 2));
        display: block;
        transition: transform 0.2s;
    }

    &::before {
        top: 6px;
        left : 0px;
        width: 24px;

    }

    &::after {
        top: 22px;
        left: 8px;
        width: 16px;
    }

    >span {
        width: $btnWidth;
        height: $btnHeight;
        font-size: 0;
        background: linear-gradient(to right, #1D1D1D, #1D1D1D) repeat-x #1D1D1D;
        background-size: auto $btnHeight;
        position: absolute;
        left : 4px;
        top: 50%;
        transition: transform 0.2s;
    }

    &.is-open {

        &::before,
        &::after {
            width: 28px;
            left: calc(50% - (28px / 2));
        }

        &::before {
            transform: rotate(45deg);
            top: 14px;
        }

        &::after {
            transform: rotate(-45deg);
            top: 14px;
        }

        >span {
            background: none;
        }
    }
}

body.is-open {
    position: fixed;
}