.p-section-header {
    dl {
        dt {
            margin-bottom: 20px;
            font-size: 2.0rem;
            font-weight: bold;
            line-height: 1;
        }
        dd {
            font-size: 1.6rem;
            line-height: 1.875;
        }
    }
}
