/*==================================================
** Foundation
==================================================*/
:root {
  font-size: 62.5%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  z-index: 1;
  min-width: 320px;
  width: 100%;
  font-family: 'Noto Sans JP', Arial;
  overflow-x: hidden;
  position: relative;
}

.l-header {
  z-index: 100;
  position: fixed;
  padding: 0 5%;
  width: 100%;
  height: 60px;
  background: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 960px) {
  .l-header {
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .l-header {
    height: 80px;
    padding-right: 0;
  }
}

@media (min-width: 960px) {
  .l-header > h1 {
    padding-left: 0;
  }
}

.l-main {
  padding-top: 60px;
}

@media (min-width: 960px) {
  .l-main {
    padding-top: 80px;
  }
}

.l-footer {
  padding: 30px 0;
  text-align: center;
}

.l-footer h2 {
  font-size: 2.4rem;
}

.l-footer .copyright small {
  font-size: 1.2rem;
}

.c-section-titleset {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.15em;
  line-height: 1;
  color: #333;
}

@media (min-width: 560px) {
  .c-section-titleset {
    font-size: 2.4rem;
  }
}

.c-section-titleset span {
  padding-top: 13px;
  display: block;
  font-size: 1.4rem;
  letter-spacing: normal;
  color: #aa8f7b;
}

@media (min-width: 560px) {
  .c-section-titleset span {
    font-size: 1.5rem;
  }
}

.c-button {
  width: 220px;
  padding: 9px 1em;
  display: inline-block;
  text-align: center;
  background: #FFF;
  color: #292929;
  border: solid 2px #292929;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2;
  text-decoration: none;
}

.c-inner {
  max-width: 1500px;
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
}

@media (min-width: 560px) {
  .c-inner {
    padding: 0 6.7%;
  }
}

.c-card-furniture {
  width: 100%;
}

.c-card-furniture img {
  width: 100%;
}

@media (min-width: 560px) {
  .c-card-furniture.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .c-card-furniture.row img {
    width: 47%;
    margin-right: 5%;
  }
  .c-card-furniture.row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .c-card-furniture.row.reverse img {
    margin-right: 0;
    margin-left: 5%;
  }
}

.c-card-furniture figcaption dl dt {
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 500;
}

.c-card-furniture figcaption dl dd {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
}

.c-card-furniture figcaption p {
  padding-top: 50px;
  text-align: center;
}

@media (min-width: 560px) {
  .c-card-furniture.row figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .c-card-furniture.row figcaption dl dt {
    margin-top: 0;
  }
  .c-card-furniture.row figcaption p {
    text-align: left;
  }
}

.p-gnavi > .list {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  padding: 30px 5%;
  position: absolute;
  top: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  overflow-y: auto;
}

@media (min-width: 1024px) {
  .p-gnavi > .list {
    width: 100%;
    height: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: static;
    font-size: 1.5rem;
    visibility: visible;
    opacity: 1;
  }
}

.p-gnavi > .list > li {
  width: 100%;
  margin: 0 auto 30px;
  font-size: 1.5rem;
  font-weight: normal;
  white-space: nowrap;
  line-height: 2;
}

@media (min-width: 1024px) {
  .p-gnavi > .list > li {
    width: auto;
  }
}

.p-gnavi > .list > li a {
  text-decoration: none;
}

.p-gnavi > .list > li a:link, .p-gnavi > .list > li a:visited {
  color: #000;
}

.p-gnavi > .list > li a:hover, .p-gnavi > .list > li a:active {
  color: #555;
}

@media (min-width: 1024px) {
  .p-gnavi > .list > li a {
    padding: 25px 18px;
    display: block;
  }
}

.p-gnavi > .list > li:last-child {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .p-gnavi > .list > li {
    margin-bottom: 0;
  }
}

.p-gnavi > .list > li .list__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1024px) {
  .p-gnavi > .list > li .list__inner {
    margin-top: 0;
    margin-left: 15px;
  }
}

.p-gnavi > .list > li .list__inner li {
  width: 100%;
  height: 60px;
}

.p-gnavi > .list > li .list__inner li.--store {
  background-color: #24a2b3;
}

.p-gnavi > .list > li .list__inner li.--store:hover {
  opacity: 0.8;
}

.p-gnavi > .list > li .list__inner li.--contact {
  background-color: #aa8f7b;
}

.p-gnavi > .list > li .list__inner li.--contact:hover {
  opacity: 0.8;
}

@media (min-width: 1024px) {
  .p-gnavi > .list > li .list__inner li {
    height: 80px;
  }
}

.p-gnavi > .list > li .list__inner li a {
  display: block;
  color: #fff;
  padding: 15px 10px;
  text-align: center;
}

@media (min-width: 1024px) {
  .p-gnavi > .list > li .list__inner li a {
    padding: 25px 18px;
  }
}

.p-gnavi > .list > li .list__inner li a img {
  margin-right: 10px;
  width: 17px;
  display: inline-block;
  vertical-align: middle;
}

.p-gnavi.is-open > .list {
  position: fixed;
  left: 0;
  visibility: visible;
  opacity: 1;
}

@media (min-width: 1024px) {
  .p-gnavi.is-open > .list {
    position: static;
  }
}

.p-hamburger {
  width: 28px;
  height: 28px;
  background-color: #fff;
  position: relative;
  border: 0;
}

@media (min-width: 1024px) {
  .p-hamburger {
    display: none;
  }
}

.p-hamburger::before, .p-hamburger::after {
  content: "";
  width: 20px;
  height: 2px;
  background: #1D1D1D;
  position: absolute;
  left: calc(50% - (20px / 2));
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.p-hamburger::before {
  top: 6px;
  left: 0px;
  width: 24px;
}

.p-hamburger::after {
  top: 22px;
  left: 8px;
  width: 16px;
}

.p-hamburger > span {
  width: 20px;
  height: 2px;
  font-size: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1D1D1D), to(#1D1D1D)) repeat-x #1D1D1D;
  background: linear-gradient(to right, #1D1D1D, #1D1D1D) repeat-x #1D1D1D;
  background-size: auto 2px;
  position: absolute;
  left: 4px;
  top: 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.p-hamburger.is-open::before, .p-hamburger.is-open::after {
  width: 28px;
  left: calc(50% - (28px / 2));
}

.p-hamburger.is-open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 14px;
}

.p-hamburger.is-open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 14px;
}

.p-hamburger.is-open > span {
  background: none;
}

body.is-open {
  overflow: hidden;
}

.p-mainvisual .swiper-container {
  margin: 0 auto;
  width: 100%;
  height: 360px;
  z-index: 1;
  position: relative;
}

@media (min-width: 960px) {
  .p-mainvisual .swiper-container {
    width: 100%;
    height: 610px;
  }
}

.p-mainvisual .swiper-container .main-title {
  position: absolute;
  top: 25%;
  left: 5%;
  font-family: 'Noto Serif JP', serif;
  font-weight: "500";
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: 0.2em;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (min-width: 960px) {
  .p-mainvisual .swiper-container .main-title {
    top: 40%;
    left: 7%;
    font-size: 3.6rem;
  }
  .p-mainvisual .swiper-container .main-title .pc-none {
    display: none;
  }
}

.p-mainvisual .swiper-container .swiper-wrapper {
  z-index: -1;
  position: relative;
}

.p-mainvisual .swiper-container .swiper-wrapper img {
  background-color: rgba(220, 214, 208, 0.7);
  opacity: 1;
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 960px) {
  .p-mainvisual .swiper-container .swiper-wrapper img {
    width: 100%;
    height: 610px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.p-mainvisual .swiper-container .swiper-pagination {
  position: absolute;
  bottom: 13%;
}

.p-mainvisual .swiper-container .swiper-pagination-bullet {
  margin: 0 10px;
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 1;
}

.p-mainvisual .swiper-container .swiper-pagination-bullet-active {
  background: #22a2a9;
}

.p-news {
  padding: 0 5% 20px;
  background-color: #f7f6f5;
}

@media (min-width: 560px) {
  .p-news {
    padding: 0 5% 100px;
  }
}

.p-news__inner {
  z-index: 1;
  position: relative;
  width: 100%;
  margin-top: -30px;
  padding: 30px 20px 40px;
  background-color: #fff;
}

@media (min-width: 560px) {
  .p-news__inner {
    margin: -70px auto 0;
    padding: 80px 5% 80px;
    max-width: 960px;
  }
}

.p-news__inner ul {
  margin: 0 auto;
  padding-left: 0;
}

@media (min-width: 560px) {
  .p-news__inner ul {
    margin: 65px 2% 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 60px;
            column-gap: 60px;
  }
}

.p-news__inner ul li {
  margin-top: 28px;
  list-style-type: none;
}

.p-news__inner ul li a {
  color: #333;
  text-decoration: none;
}

.p-news__inner ul li a time {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

.p-news__inner ul li a time span {
  margin-left: 17px;
  padding: 2px 9px 2px 9px;
  font-family: 'Noto Sans JP', Arial;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  background-color: #24a2b3;
}

.p-news__inner ul li a p {
  margin: 9px 0 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.p-news__inner p {
  margin-top: 30px;
  text-align: center;
}

@media (min-width: 560px) {
  .p-news__inner p {
    margin-top: 60px;
  }
  .p-news__inner p .pc-none {
    display: none;
  }
}

.p-furniture {
  margin-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 560px) {
  .p-furniture {
    margin-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 960px) {
  .p-furniture {
    margin-top: 80px;
    padding-bottom: 80px;
  }
}

.p-furniture .list {
  margin-top: 60px;
  padding: 0;
}

@media (min-width: 560px) {
  .p-furniture .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-furniture .list .item {
  width: 100%;
  list-style: none;
}

.p-furniture .list .item:nth-of-type(n+2) {
  margin-top: 60px;
}

@media (min-width: 560px) {
  .p-furniture .list .item.wide {
    width: 100%;
  }
  .p-furniture .list .item.small {
    width: 45%;
  }
}

@media (min-width: 960px) {
  .p-furniture .list .item.small {
    width: 29.2%;
  }
}
